@charset "EUC-KR";
@import
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	;

html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.wrapper {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: hidden;
	min-height: 100px;
}

header {
	width: 100%;
	height: 80px;
	color: #fff;
	background: #446cB3;
	line-height: 80px;
	top: 0;
	transition: all 0.5s ease;
	box-shadow: 0px 2px 10px #fff inset;
	
}

.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

#logo {
	font-family: ubuntu;
	font-size: 40px;
	float: left;
}

nav {
	float: right;
	font-family: ubuntu;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	margin: 0 15px;
}

nav a:hover {
	color: red;
}

header.stivky {
	background: rgba(211, 84, 0, 0.9);
	height: 50px;
	line-height: 50px;
	box-shadow: 0px 2px 10px #000;
}

header .stivky #logo {
	font-size: 22px;
}

#scrollToTop {
	font-size: 3em;
	color: #446cB3;
	position: fixed;
	right: 40px;
	bottom: 10%;
	transition: all 0.5s ease;
}

#scrollToTop:hover {
	transform: scale(1.1, 1.1);
	color: rgba(211, 84, 0, 0.9);
}

.hide {
	transition: all 0.5s ease;
	transform: scale(0, 0);
}

a:hover {
	text-decoration: none;
}

.my-flip-inner-wrapper {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
}

.my-flip-side {
	display: block;
	height: 500px;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	transition: all .8s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.my-flip-back {
	transform: rotateY(180deg);
	color: #fff;
	position: absolute;
	z-index: -1;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	padding: 46px;
}

.my-flip-back-1 {
	background: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.my-flip-back-2 {
	background: linear-gradient(to right bottom, #000428, #004e92);
}

.my-flip-back-3 {
	background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.my-flip-inner-wrapper:hover .my-flip-front {
	transform: rotateY(-180deg);
}

.my-flip-inner-wrapper:hover .my-flip-back {
	transform: rotateY(0);
}

.my-flip-image {
	height: 15rem;
	background-blend-mode: screen;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.my-flip-image img {
	width: 100%;
	height: 100%;
	background-blend-mode: screen;
	object-fit: cover;
}

.my-flip-heading {
	margin: 0 0 15px;
}

.my-flip-details {
	padding: 2rem;
}

.my-flip-details p {
	font-size: 15px;
	margin: 0;
	line-height: 2;
	color: #848484;
}

.my-flip-back-inner ul {
	list-style: none;
	margin: 0 0 1.5rem;
	padding: 0;
}

.my-flip-back-text  ul li {
	text-align: center;
	color: #fff;
	font-size: 1rem;
	padding: 0.8rem 0;
}

.my-flip-back-inner
 
ul
 
li
:not
 
(
:last-child
 
)
{
border-bottom
:
 
1
px
 
solid
 
#ffffff
;


}
.my-flip-price {
	color: #fff;
	text-align: center;
	margin-bottom: 1rem;
}

.my-flip-price h3 {
	font-size: 3rem;
	font-weight: 300;
}

.my-flip-btn-box {
	text-align: center;
}

.my-flip-btn {
	text-transform: uppercase;
	padding: 1rem 1.8rem;
	font-size: 1rem;
	background-color: #fff;
	color: #000;
	border-radius: 10rem;
	display: inline-block;
	transition: all .2s;
	color: initial;
	position: relative;
}

.my-flip-btn:hover {
	transform: translateY(-4px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	color: #000;
}

a {
	color: #363636;
}

.btn {
	background: transparent;
	margin: 3px;
	border: 1px solid #eaeaea;
	border-radius: 0px;
}

.btn:hover {
	background: #eaeaea;
	color: black;
}

.tours {
	display: flex;
	padding: 0;
	flex-flow: row wrap;
	align-content: center;
	align-items: stretch;
	justify-content: center;
}

.tours>.tourcard {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	flex: 0 1 360px;
	margin: 15px;
	padding: 0;
}

.tours>.tourcard:hover {
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
	cursor: pointer;
}

.tours>.tourcard figure {
	margin: 0;
	padding: 0;
	position: relative;
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	width: 100%;
}

.tourpic {
	background: #444;
	position: relative;
}

.tourbtn {
	margin: 0;
	padding: 0;
}

.tourbtn:after {
	clear: both;
}

.tours>.tourcard figure .tourpic img {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	opacity: .50;
}

.tours>.tourcard:hover figure .tourpic img {
	opacity: 0.9;
}

.tours>.tourcard figure .tourpic .tourcat {
	color: #fff;
	font-size: .8em;
	padding: 3px 5px;
	position: absolute;
	right: 15px;
	text-transform: uppercase;
	bottom: 15px;
}

.tours>.tourcard figure .tourpic .tourday {
	text-transform: uppercase;
	color: #fff;
	font-size: .8em;
	position: absolute;
	left: 15px;
	bottom: 15px;
	padding: 3px 5px;
}

.tours>.tourcard figure .tourpic .tourday.hot {
	background: #000;
	background: red;
	background: -webkit-linear-gradient(0deg, red, orange);
	background: linear-gradient(90deg, red, orange);
	background-size: 200% 200%;
	-webkit-animation: hot 10s ease infinite;
	-moz-animation: hot 10s ease infinite;
	-o-animation: hot 10s ease infinite;
	animation: hot 10s ease infinite;
}

.tours>.tourcard figure .tourbtn {
	background: transparent;
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	align-content: center;
}

.tours>.tourcard figure .tourbtn a {
	flex: 1;
}

.tours>.tourcard figure figcaption {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 15px;
	margin: 0 0 30px;
	display: flex;
	flex-flow: column nowrap;
	color: white;
}

figcaption h3 a {
	text-decoration: none;
	color: white;
}

.description {
	opacity: 0;
	display: none;
}

.tourprice {
	opacity: 0;
	display: none;
	font-size: .8em;
}

.currency {
	font-weight: 300;
}

.price {
	font-size: 2em;
	font-weight: 300;
}

.tourcard:hover figure figcaption .description, .tourcard:hover figure figcaption .tourprice
	{
	display: block;
	opacity: 1;
}
.footer{
	position:fixed;
}