<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ShoppingMall</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
        <description/>
        <display-name>SFXHttpHandler</display-name>
        <servlet-name>SFXHttpHandlerServlet</servlet-name>
        <servlet-class>com.softwarefx.server.servlets.SFXHttpHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SFXHttpHandlerServlet</servlet-name>
        <url-pattern>/SfxWebResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFXHttpHandlerServlet</servlet-name>
        <url-pattern>/softwarefx/GetTempFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFXHttpHandlerServlet</servlet-name>
        <url-pattern>/softwarefx/GetResourceServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SFXHttpHandlerServlet</servlet-name>
        <url-pattern>/softwarefx/chartfx8CallBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFXHttpHandlerServlet</servlet-name>
        <url-pattern>/softwarefx/chartfx8GetCommandImageServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description/>
        <display-name>ChartCallback</display-name>
        <servlet-name>ChartCallbackServlet</servlet-name>
        <servlet-class>com.softwarefx.chartfx.server.servlets.ChartCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChartCallbackServlet</servlet-name>
        <url-pattern>/ChartCallbackServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ChartCallbackFilter</filter-name>
        <filter-class>com.softwarefx.chartfx.server.servlets.ChartCallbackFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ChartCallbackFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>